/*toolbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Pirata One', sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(87, 77, 83);
  }
  .active {
    background-color: #04AA6D;
  }